In [1]:
import pandas as pd
file = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file)

In [2]:
#creating function for percentage 
def percentage(part, whole):
  return 100 * float(part)/float(whole)

In [3]:
total_players = pd.DataFrame({"Total Player": [0]})

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

#### Player Count
* Display the total number of players

In [5]:
# Player Count
total_players["Total Player"] = purchase_data["Purchase ID"].count()
total_players.head()

   Total Player
0           780

#### Purchasing Analysis (Total)
* Displays "Number of Unique Items", "Average Price", "Number of Purchases" and "Total Revenue"

In [6]:
#Purchasing Analysis
columns = {
    "Number of Unique Items": [0],
    "Average Price": [0],
    "Number of Purchases": [0],
    "Total Revenue": [0]
}
purchasing_analysis = pd.DataFrame(columns)
purchasing_analysis["Number of Unique Items"] = purchase_data["Item ID"].nunique()
purchasing_analysis["Average Price"] = purchase_data["Price"].mean()
purchasing_analysis["Number of Purchases"] = purchase_data["Purchase ID"].count()
purchasing_analysis["Total Revenue"] = purchase_data["Price"].sum()
purchasing_analysis.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

#### Gender Demographics 
* Displays Male, Female and Other/Non-Disclosed with Total Count and Percentage of Players

In [7]:
demographic_data = {
    "Total Count": [0],
    "Percentage of Players": [0]
}
#creating data frame of gender values
gender_count = purchase_data["Gender"].value_counts()
#creating gender data frame
gender_df = pd.DataFrame(demographic_data, index=["Male", "Female", "Other / Non-Disclosed"])

# adding male, female, other/non-disclosed values
gender_df["Total Count"][0] = gender_count["Male"]
gender_df["Total Count"][1] = gender_count["Female"]
gender_df["Total Count"][2] = gender_count["Other / Non-Disclosed"]

# calculating percentage for males
male_percent = percentage(gender_count["Male"], purchase_data["Gender"].count())
gender_df["Percentage of Players"][0] = male_percent
# calculating percentage for females
female_percent = percentage(gender_count["Female"], purchase_data["Gender"].count())
gender_df["Percentage of Players"][1] = female_percent
# calculating percentage for other/non-disclosed
other_non_disclosed = percentage(gender_count["Other / Non-Disclosed"], purchase_data["Gender"].count())
gender_df["Percentage of Players"][2] = other_non_disclosed


gender_df.head()

                       Total Count  Percentage of Players
Male                           652                     83
Female                         113                     14
Other / Non-Disclosed           15                      1

In [8]:
gender_purchase = {
    "Purchase Count": [0],
    "Average Purchase Price": [0],
    "Total Purchase Value": [0],
    "Avg Total Purchase per Person": [0]
}

gender_purchases = pd.DataFrame(gender_purchase, index=["Male", "Female", "Other / Non-Disclosed"])

purchases = purchase_data[["Gender", "Price"]]
male_purchases = purchases[purchases.Gender == 'Male']
female_purchases = purchases[purchases.Gender == 'Female']
other_purchases = purchases[purchases.Gender == 'Other / Non-Disclosed']
#
gender_purchases["Purchase Count"][0] = gender_count["Male"]
gender_purchases["Purchase Count"][1] = gender_count["Female"]
gender_purchases["Purchase Count"][2] = gender_count["Other / Non-Disclosed"]

#Average Purchase Price
gender_purchases["Average Purchase Price"][0] = male_purchases["Price"].mean()
gender_purchases["Average Purchase Price"][1] = female_purchases["Price"].mean()
gender_purchases["Average Purchase Price"][2] = other_purchases["Price"].mean()

#Total Purchase Value
gender_purchases["Total Purchase Value"][0] = male_purchases["Price"].sum()
gender_purchases["Total Purchase Value"][1] = female_purchases["Price"].sum()
gender_purchases["Total Purchase Value"][2] = other_purchases["Price"].sum()

#Average Total Purchase per Person
gender_purchases["Avg Total Purchase per Person"][0] = male_purchases["Price"].mean()
gender_purchases["Avg Total Purchase per Person"][1] = female_purchases["Price"].mean()
gender_purchases["Avg Total Purchase per Person"][2] = other_purchases["Price"].mean()

gender_purchases

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,3,1967,3
Female,113,3,361,3
Other / Non-Disclosed,15,3,50,3

In [9]:
age_columns = {
    "Total Count": [0],
    "Percentage of Players": [0]
}
age_grp_1 = age_grp_2 = age_grp_3 = age_grp_4 = age_grp_5 = age_grp_6 = age_grp_7 = age_grp_8 = 0
age_demographics = pd.DataFrame(age_columns, index=["<10", "10-14", "15,19", "20-24", "25-29", "30-34", "35-39", "40+"])

age_df = purchase_data["Age"]

for age in age_df:
    if age < 10:
        age_grp_1 += 1
    elif (age >= 10) and (age <= 14):
        age_grp_2 += 1
    elif (age >= 15) and (age <= 19):
        age_grp_3 += 1
    elif (age >= 20) and (age <= 24):
        age_grp_4 += 1
    elif (age >= 25) and (age <= 29):
        age_grp_5 += 1
    elif (age >= 30) and (age <= 34):
        age_grp_6 += 1
    elif (age >= 35) and (age <= 39):
        age_grp_7 += 1
    else:
        age_grp_8 += 1
    
age_demographics["Total Count"][0] = age_grp_1
age_percentage_1 = percentage(age_grp_1, purchase_data["Age"].count())
age_demographics["Percentage of Players"][0] = age_percentage_1

age_demographics["Total Count"][1] = age_grp_2
age_percentage_2 = percentage(age_grp_2, purchase_data["Age"].count())
age_demographics["Percentage of Players"][1] = age_percentage_2

age_demographics["Total Count"][2] = age_grp_3
age_percentage_3 = percentage(age_grp_3, purchase_data["Age"].count())
age_demographics["Percentage of Players"][2] = age_percentage_3

age_demographics["Total Count"][3] = age_grp_4
age_percentage_4 = percentage(age_grp_4, purchase_data["Age"].count())
age_demographics["Percentage of Players"][3] = age_percentage_4

age_demographics["Total Count"][4] = age_grp_5
age_percentage_5 = percentage(age_grp_5, purchase_data["Age"].count())
age_demographics["Percentage of Players"][4] = age_percentage_5

age_demographics["Total Count"][5] = age_grp_6
age_percentage_6 = percentage(age_grp_6, purchase_data["Age"].count())
age_demographics["Percentage of Players"][5] = age_percentage_6

age_demographics["Total Count"][6] = age_grp_7
age_percentage_7 = percentage(age_grp_7, purchase_data["Age"].count())
age_demographics["Percentage of Players"][6] = age_percentage_7

age_demographics["Total Count"][7] = age_grp_8
age_percentage_8 = percentage(age_grp_8, purchase_data["Age"].count())
age_demographics["Percentage of Players"][7] = age_percentage_8

age_demographics

       Total Count  Percentage of Players
<10             23                      2
10-14           28                      3
15,19          136                     17
20-24          365                     46
25-29          101                     12
30-34           73                      9
35-39           41                      5
40+             13                      1

In [ ]:
age_columns = {
    "Total Count": [0],
    "Percentage of Players": [0]
}